body {
  font-family: serif, Inconsolata;
}
#content {
  width: 600px;
}
table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;;
}
table th, td, input, textarea {
  padding: 5px;
}
#task-form th {
  background: #7F96FF;
  color: #DBFCFF;
}
#task-form td {
  color: #7F96FF;
}
#task-form input, textarea {
  width: 300px;
}
#description {
  height: 100px;
}
button {
  background: #A6CFD5;
  color: #DBFCFF;
  width: 100%;
  font-weight: bold;
  padding: 5px;
}
#tasks th {
  background: #E56399;
  color: #DBFCFF;
}
#tasks td {
  color: #E56399;
}