body {
  font-family: serif, Inconsolata;
}
button {
  border: none;
  background: #A6CFD5;
  color: #320E3B;
  font-weight: bold;
  padding: 5px;
}
#content {
  width: 600px;
}
#ui-datepicker-div {
  background: #7F96FF;
  color: #DBFCFF;
  font-weight: bold;
}
#ui-datepicker-div a {
  text-align: center;
}
#accordion-completed .ui-accordion-header {
  border: solid;
  border-width: 1px;
  color: #E56399;
}
#container-span-message {
  text-align: center;
}
.ui-datepicker-title {
  font-size: large;
}
.container {
  width: 100%;
  padding: 5px;
}
.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.table th {
  color: #DBFCFF;
}
.table th, td, input, textarea {
  padding: 5px;
}
.table.table-summary th {
  background: #320E3B;
  color: #DBFCFF;
  width: 20%;
}
.table.table-summary td {
  color: #320E3B;
}
.table.table-form th {
  background: #7F96FF;
  width: 20%;
}
.table.table-form td {
  color: #7F96FF;
}
.table.table-form input, textarea {
  width: 97%;
}
.table.table-form textarea {
  height: 100px;
}
.table.table-pending th {
  background: #E56399;
}
.table.table-pending td {
  color: #E56399;
}
.table.table-completed th {
  background: #E56399;
}
.table.table-completed td {
  color: #E56399;
}
.button.button-submit {
  width: 100%;
}
.message {
  padding: 5px;
  color: #ffffff;
}
.message.message-success {
  background: #449d44;
}
.message.message-info {
  background: #0275d8;
}
.message.message-warning {
  background: #ec971f;
}
.message.message-error {
  background: #c9302c;
}


