body {
    font-family: Inconsolata;
}
div#content {
    width: 600px;
    min-height: 600px;
}
div#left {
    /*width: 300px;*/
    width: 0;
    float: left;
}
div#right {
    /*margin-left: 300px;*/
    margin-left: 0;
    width: 100%;
}
table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;;
}
table th, td, input, textarea {
    padding: 5px;
}
table#task-form th {
    background: #7F96FF;
    color: #DBFCFF;
}
table#task-form td {
    color: #7F96FF;
}
table#task-form input, textarea {
    width: 300px;
}
textarea#description {
    height: 100px;
}
button {
    background: #A6CFD5;
    color: #DBFCFF;
    width: 100%;
    font-weight: bold;
    padding: 5px;
}
table#tasks th {
    background: #E56399;
    color: #DBFCFF;
}
table#tasks td {
    color: #E56399;
}